<div [ngBusy]="sub">
    <div class="page-header">
        <div class="well">
            <button type="button" class="btn btn-primary" (click)="newAssetOnClick()">Add new asset</button>
            <div class="hidden-xs hidden-sm pull-right">
                <button class="btn btn-info" (click)="allAssetsOnClick()">Show all assets</button>
                <button class="btn btn-info" (click)="activeAssetsOnClick()">Show active assets</button>
                <button class="btn btn-info" (click)="inServiceAssetsOnClick()">Show assets in service</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>{{ pageTitle }}</h3>
                <div class="text-muted">
                    {{ ((pageIndex - 1) * pageSize) + 1 }} to {{ (pageIndex * pageSize) > totalItems ? totalItems : (pageIndex * pageSize)}} 
                    of {{ totalItems }} results found.
                </div>
            </div>
            <div class="col-md-6 pull-right v-center">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" [(ngModel)]='listFilter' (keyup.enter)="searchOnClick()">
                    <div class="input-group-btn">
                        <button class="btn btn-default" (click)="searchOnClick()"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover" *ngIf='assets && assets.length'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="hidden-xs">Make</th>
                    <th class="hidden-xs">Model</th>
                    <th class="hidden-xs hidden-sm">Size Code</th>
                    <th class="hidden-xs hidden-sm">Serial Number</th>
                    <th>In Service?</th>
                    <th>Active?</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let asset of assets'>
                    <td>
                        <a [routerLink]="['/asset', asset.id]">{{asset.quickName}}</a>
                    </td>
                    <td class="hidden-xs">{{asset.make}}</td>
                    <td class="hidden-xs">{{asset.model}}</td>
                    <td class="hidden-xs hidden-sm">{{asset.sizeCode}}</td>
                    <td class="hidden-xs hidden-sm">{{asset.serialNumber}}</td>
                    <td><input type="checkbox" [checked]="asset.inService" disabled></td>
                    <td><input type="checkbox" [checked]="asset.isActive" disabled></td>
                </tr>
            </tbody>
        </table>
    </div>	
	<div class='panel-footer'>
		<page-tag [pageIndex]='pageIndex' [totalPages]='totalPages' (pageChanged)='onPageChanged($event)'></page-tag>
	</div>
</div>